CoinMP_zip/
BuildLog.htm
CoinMP.res
mt.dep
CoinMP.dll.embed.manifest
CoinMP.dll.embed.manifest.res
CoinMP.dll.intermediate.manifest
CoinMPTestCS9.vshost.exe.manifest
unitTest.exe.intermediate.manifest
*.idb
*.exp